<mat-card>
  <mat-card-title>Deletar Produto</mat-card-title>
  <form action="">

    <mat-form-field>
      <input matInput disabled placeholder="Nome" [value] = "product.name" name="name">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput disabled placeholder="Preço (R$)" [value]="product.price" name="price">
    </mat-form-field>
  </form>

    <button mat-raised-button (click) ="deleteProducts()" color="warn">
      Excluir
    </button>
    <button mat-raised-button (click) ="cancel()" >
      Cancelar
    </button>
</mat-card>
